.acm-autocomplete {
  background: #ffffff;
  color: var(--color-text-primary);
  min-height: 25px;
  min-width: 300px;
  box-shadow: 0 0 5px #555555;
  border-radius: 5px;
  z-index:999;
  position: absolute;

  #acm-wrapper {
    outline: none;
  }

  hr {
    background: #aaa;
    background-image: unset;
  }

  ol.acm-list {
    margin: 2px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    li.acm-data-entry, .acm-autocomplete ol.acm-list li.acm-static-entry {
      //background: #99999922;
      padding: 1px 3px;
      margin: 1px 0;
      font-size: 0.8rem;
    }

    li.acm-data-entry.highlighted {
      background: #55559922;
    }

    li.acm-data-entry {
      .acm-key-prefix {
        flex: 0;
        opacity: 50%;
      }
    
      .acm-key {
        flex: 1 1 auto;

        .match {
          text-decoration: underline;
        }
      }
      .acm-value {
        flex: 0 0 40px;
        opacity: 50%;
        padding: 0 3px;
        text-align: right;
        font-family: monospace;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        //background: #99999955;
      }
    }
  }
  
  .acm-form > :not(:last-child) {
    margin-right: 2px;
  }
}


